 # <center>Midterm Exam &ndash; DATA 3401 (Spring 2023)</center>

## Start Date: 3/27
## Due Date for Exercises 1 and 2:    3/27 (at 2:15pm))
## Due Date: for Exercises 3, 4 and 5:     23/29 (at 12:59pm))

## Midterm Rules

This midterm exam is essentially like a short-term lab. Please work the exercises below **on your own**.   

**You should push your answer for Exercises 1 and 2 by the end of Monday's class, 3/27, at 2:15 pm in your GitHub repo for this class as **Midterm-part1** in the **Exam** folder. The rest of the exam is a take-home exam, and you have time up to Wednesday, 3/29, at 12:59. When you have completed the take-home exam, you should again push your completed jupyter notebook to your GitHub repo for this class as **Midterm-part2** in the **Exam** folder.


You may not discuss the problems with **anyone else**, including persons on an online internet forum. Consulting an outside source like this will be considered an academic integrity violation.

You may use all class resources including previous labs and lectures, and anything posted on the course webpage.

You may not use any function that trivializes a problem. For example, if I ask you to write a `max` function that computes the maximum entry in a list, you are not allowed to use the pre-defined Python function `max`; you must write your own.

## Exercise 1
1. Write a script or function that asks the user to input 3 numbers (floats or ints), and output the product of the 3 numbers.
    1. You may use the `input()` function to take user input, or you may write a function with 3 input arguments without using `input()`
1. Your code should display an error message if one of the inputs is not a number.
1. Test your code on the following inputs:  
    1. (5, -10, 20.0)
    1. (1, "blah", 5)

In [ ]:
## Write your code here

In [ ]:
## Test your code here

## Exercise 2
1. Write a function which takes a list as input and outputs the largest **integer** entry. If there is none, return `None`.
1. Test your function on the following lists
    1. \[ 1, 9, 10.2, 6, -2\]
    1. \[1.2, 3/4, "Hello World"\]

In [ ]:
# Write your function here

In [ ]:
# Test your function here

## Exercise 3
Suppose the first element of a sequence is $a_0 = 1$, the second element is $a_1 = 3$, and for every $i>1$, the $i$--th element of the sequence is defined by the recursive relation $a_i = \frac{(a_{i-1}-a_{i-2})^2}{3}$. (So $a_2 = 4/3$)
1. Write a function which outputs the $n$--th element of this sequence for a given positive integer $n$
2. Test your function for $n = 1, 5, 10, 15,$ and $20$

Exercise 3 Part 1

In [ ]:
def recursive(n):
  if n > 1:
      return n
  else:
      return((recursive(n-1) - recursive(n-2))**2)/3
n_terms = 10
if n_terms <= 0:
  print("Invalid input ! Please input a positive value")
else:
  print("n--th element:")
for i in range(n_terms):
    print(recursive(i))

Exercise 3 Part 2

In [ ]:
def recursive(n):
  if n > 1:
      return n
  else:
      return((recursive(n-1) - recursive(n-2))**2)/3
n_terms = 1
if n_terms <= 0:
  print("Invalid input ! Please input a positive value")
else:
  print("n--th element:")
for i in range(n_terms):
    print(recursive(i))

In [ ]:
def recursive(n):
  if n > 1:
      return n
  else:
      return((recursive(n-1) - recursive(n-2))**2)/3
n_terms = 5
if n_terms <= 0:
  print("Invalid input ! Please input a positive value")
else:
  print("n--th element:")
for i in range(n_terms):
    print(recursive(i))

In [ ]:
def recursive(n):
  if n > 1:
      return n
  else:
      return((recursive(n-1) - recursive(n-2))**2)/3
n_terms = 10
if n_terms <= 0:
  print("Invalid input ! Please input a positive value")
else:
  print("n--th element:")
for i in range(n_terms):
    print(recursive(i))

In [ ]:
def recursive(n):
  if n > 1:
      return n
  else:
      return((recursive(n-1) - recursive(n-2))**2)/3
n_terms = 15
if n_terms <= 0:
  print("Invalid input ! Please input a positive value")
else:
  print("n--th element:")
for i in range(n_terms):
    print(recursive(i))

In [ ]:
def recursive(n):
  if n > 1:
      return n
  else:
      return((recursive(n-1) - recursive(n-2))**2)/3
n_terms = 20
if n_terms <= 0:
  print("Invalid input ! Please input a positive value")
else:
  print("n--th element:")
for i in range(n_terms):
    print(recursive(i))

## Exercise 4
1. Write a function that takes in a list of tuples, each of which contains three parts: `name, month, day` corresponding to a person's birthday, for example `('Tony Stark', 'March', 14)`. Your function should output `True` if any two people have the same birthday, and `False` if no two people have the same birthday.
1. Test your function on the set of people `[('Thor', 'August',10), ('Phil Coulson','July',8),('T\'Challa','November',29),('Peter Parker','August',10), ('Tony Stark', 'March', 14)]`
1. Create your own list of people with all distinct birthdays and test your function on your list.

In [65]:
test1_Thor = [('August',10)]
test2_PhilCoulson = [('July',8)]
test3_TChalla = [('November',29)]
test4_PeterParker = [('August',10)]
test5_TonyStark = [('March', 14)]

print("The original list 1 : " + str(test1_Thor))
print("The original list 2 : " + str(test2_PhilCoulson))
print("The original list 3 : " + str(test3_TChalla))
print("The original list 4 : " + str(test4_PeterParker))
print("The original list 5 : " + str(test5_TonyStark))

res = test1_Thor == test4_PeterParker

print("Do they have the same birthday ? : " + str(res))
#I tried to test Thor and Peter's birthday and they are on the same day, so True!

The original list 1 : [('August', 10)]
The original list 2 : [('July', 8)]
The original list 3 : [('November', 29)]
The original list 4 : [('August', 10)]
The original list 5 : [('March', 14)]
Do they have the same birthday ? : True

In [69]:
test1_Thor = [('August',10)]
test2_PhilCoulson = [('July',8)]
test3_TChalla = [('November',29)]
test4_PeterParker = [('August',10)]
test5_TonyStark = [('March', 14)]

print("The original list 1 : " + str(test1_Thor))
print("The original list 2 : " + str(test2_PhilCoulson))
print("The original list 3 : " + str(test3_TChalla))
print("The original list 4 : " + str(test4_PeterParker))
print("The original list 5 : " + str(test5_TonyStark))

res = test1_Thor == test5_TonyStark

print("Do they have the same birthday ? : " + str(res))
#I tried to test Thor and Tony's birthday and they are not on the same day, so False!

The original list 1 : [('August', 10)]
The original list 2 : [('July', 8)]
The original list 3 : [('November', 29)]
The original list 4 : [('August', 10)]
The original list 5 : [('March', 14)]
Do they have the same birthday ? : False

My own

In [72]:
test1_Fatima = [('June',20)]
test2_Amy = [('November',29)]
test3_Angel = [('January',28)]
test4_Thanh = [('June',20)]

print("The original list 1 : " + str(test1_Fatima))
print("The original list 2 : " + str(test2_Amy))
print("The original list 3 : " + str(test3_Angel))
print("The original list 4 : " + str(test4_Thanh))

res = test1_Fatima == test3_Angel

print("Do they have the same birthday ? : " + str(res))
#I tried to test Fatima and Angel's birthday and they are not on the same day, so False!

The original list 1 : [('June', 20)]
The original list 2 : [('November', 29)]
The original list 3 : [('January', 28)]
The original list 4 : [('June', 20)]
Do they have the same birthday ? : False

In [73]:
test1_Fatima = [('June',20)]
test2_Amy = [('November',29)]
test3_Angel = [('January',28)]
test4_Thanh = [('June',20)]

print("The original list 1 : " + str(test1_Fatima))
print("The original list 2 : " + str(test2_Amy))
print("The original list 3 : " + str(test3_Angel))
print("The original list 4 : " + str(test4_Thanh))

res = test1_Fatima == test4_Thanh

print("Do they have the same birthday ? : " + str(res))
#I tried to test Fatima and Thanh's birthday and they are the same, so True!

The original list 1 : [('June', 20)]
The original list 2 : [('November', 29)]
The original list 3 : [('January', 28)]
The original list 4 : [('June', 20)]
Do they have the same birthday ? : True

## Exercise 5
For this exercise, you are *not* allowed to use the `.replace()` function or a similar single string command to complete the exercise. For example, you could make a list of the input string and then use list manipulations to complete the task.

1. Write a function or script that takes in two strings, and returns the first string minus all instances of the second string. You may assume the second string is a single character.  For example, an input of "Hello World" where "l" is removed should result in "Heo Word".
1. Test your function by specifying "i" to be removed from "Supercalifragilisticexpialidocious"

Bonus: Modify your function to allow the second string to be more than one characer. Test your new function by specifying "data" to be removed from "data 3401 introduction to python for data science". (This should result in ' 3401 introduction to python for  science'

**Example:** if your function is called `replace_string(str1,str2)`, then for part 2 you should print `replace_string('Supercalifragilisticexpialidocious','i')` and for the bonus you should print `replace_string('data 3401 introduction to python for data science','data')`

Exercise 5 Part 1

In [1]:
my_string = "Hello World"

replacements = [('l', ''), ('l', '')]

for char, replacement in replacements:
    if char in my_string:
        my_string = my_string.replace(char, replacement)

print(my_string)

Heo Word

In [60]:
my_string = "Supercalifragilisticexpialidocious"

replacements = [('i', '')]

for char, replacement in replacements:
    if char in my_string:
        my_string = my_string.replace(char, replacement)

print(my_string)

Supercalfraglstcexpaldocous

In [61]:
my_string = "data 3401 introduction to python for data science"

replacements = [('data', '')]

for char, replacement in replacements:
    if char in my_string:
        my_string = my_string.replace(char, replacement)

print(my_string)

 3401 introduction to python for  science