In [16]:
1\2 #This will give you an error because \ is not to divide so you don't have outcome

SyntaxError: unexpected character after line continuation character (237833712.py, line 1)

In [6]:
1/2 #This will give you the answer in a decimal form since you are not asking for it to be an integer

0.5

In [20]:
import numpy as np
np.int8(1/2) #This will give you a 0 because you are specifically asking it to be an integer

0

In [21]:
import numpy as np
np.int8(1/3) #This will give you 0 because you are specifically asking it to be an integer

0

In [9]:
-5^2 #This will give you -7 because of the binary digits of -5 and 2

-7

In [10]:
-5**2 #will be -25 because 5x5 is 25 and because of the - it will be -25. If there were () around the -5 then it would be 25 because a negative times a negative is a positive

-25

In [11]:
(-5) ^ 2 #This will be -7 because the binary digits of (-5) and 2 are still -7

-7

In [12]:
(-5)**2 #This will be 25 because a (-5)x(-5) is 25 hence (-5) squared is 25

25

In [13]:
10-6/2 #This will be 7 because of PEMDAS, 6/2 is 3 and 10-3 is 7

7.0

In [14]:
5*4/2*3 #This will be 30 because we just calculate as we go hence 5x4 is 20 and 20/2 is 10 and 10x3 is 30

30.0

Problem 2

In [14]:
ii16 = np.iinfo(np.int16) #Not sure why this gets an error, but maybe because of the np. That is Numpy
ii16.min
ii16.max

NameError: name 'np' is not defined

In [15]:
ii32 = np.iinfo(np.int32) #Not sure why this gets an error, maybe because of the np (Numpy)
ii32.max
ii32.min

NameError: name 'np' is not defined

Problem 1

In [9]:
a=1 #Plugging in variables

In [2]:
b='x' #Plugging in variables

In [4]:
c=True #Plugging in variables

In [10]:
whos a b c #Copied from the hw and for some reason is not working

No variables match your requested type.

In [11]:
a==c #1 and true is true

True

In [12]:
a+c #Two variables

2

In [14]:
d=[1 2 3 4] #Having d be a list

In [15]:
e=['a' 'b' 'c' 'd'] #Having e be a list

In [17]:
f=['a','b','c','d'] #Having f be a list

In [18]:
g=['abcd'] #Having g be a list

In [19]:
h={'a' 'b' 'c' 'd'} #Having h be a dictionary

In [20]:
i={a b c d} #Having i be a dictionary

SyntaxError: invalid syntax (4001731648.py, line 1)

In [21]:
whos d e f g h i #Copied from hw and for some reason not working, not sure why

No variables match your requested type.

In [22]:
class(a) #a is the number one

SyntaxError: invalid syntax (3950847182.py, line 1)

In [23]:
type(a) #a is an integer, not a list or any other type

int

In [24]:
True #True is a command on here so it must be capitalized

True

In [28]:
true #True is a command, therefore the word true cannot work unless its capitalized

NameError: name 'true' is not defined

In [26]:
False #This is a command, the command imput by itself will give you the command output by itself

False

In [29]:
false #This is a command, the word false cannot work unless its capitalized

NameError: name 'false' is not defined

Problem 2

In [30]:
a=5 #Plugging in variables

In [31]:
b=a #Plugging in variables

In [32]:
print(id(a),id(b)) #Will give the same id because that is the cell id code for 5. This a is 5 and b is a, which is 5 the outcome is the same

1950128892336 1950128892336

In [33]:
c=b #Plugging in variables

In [34]:
b=3 #Plugging in variables

In [35]:
print(a,b,c) #We previouly said a=5 b=a which is 5 and then we said c=b so c is 5. Then we changed b=3, but that does not change the c value therefore we get 5 3 5

5 3 5

In [36]:
print(id(a),id(b),id(c)) #We get the cell id code for the numbers above, a is now equal to c

1950128892336 1950128892272 1950128892336

In [37]:
b=a #We are now changing the values to be equal to each other again

In [38]:
b=5 #Stating b is now 5

In [39]:
print(id(a),id(b)) #Since a=5 and we equalled them the same and stated b=5, their id codes will be the same

1950128892336 1950128892336

In [40]:
a=[5] #a is 5

In [41]:
b=a #b is equal to b now

In [42]:
print(id(a),id(b)) #The cell id code for [5] is different than 5 because it is in [] and since we set them equal to each other then they should be the same number

1950208766720 1950208766720

In [43]:
b.append(1) #Adding the 1 into the variable

In [44]:
print(a,b) #Since a=b the 1 will be added to both

[5, 1] [5, 1]

In [45]:
print(id(a),id(b)) #The cell id code will now be different than before because of the 1, but still equal to each other

1950208766720 1950208766720

In [46]:
a=[5] #Setting up the variable a to be [5]

In [47]:
b=list(a) #Having b be the list of a, since a is already in the form of a list, it will also be [5]

In [48]:
print(a,b) #They will be the same number for both , so [5] [5]

[5] [5]

In [49]:
print(id(a),id(b)) #The cell id codes will be the same

1950209586368 1950209602432

In [50]:
b=a[:] #Having b be a and the list of a from start to end so will still be [5]

In [51]:
print(a,b) #Will still be [5] [5] because they still equal each other

[5] [5]

In [52]:
print(id(a),id(b)) #The cell code id will be the same as before because they are sill [5] [5]

1950209586368 1950208502208

In [53]:
a=(5,) #Setting up the variable a

In [54]:
b=tuple(a) #Setting up the variable b to be the tuple of a

In [55]:
print(id(a),id(b)) #Their cell code id will equal each other because they are the same

1950203627312 1950203627312

Problem 4

In [58]:
a=2

In [59]:
a1=b

In [60]:
x=2

In [64]:
y=x+4

In [16]:
from math import tan

In [22]:
print (tan("pi"))

TypeError: must be real number, not str

In [70]:
pi="3.14159"

In [23]:
print (tan('pi'))

TypeError: must be real number, not str

In [27]:
c=4**3**2**3

In [28]:
_=((c-78564)/c+32)

In [32]:
discount=12

In [35]:
AMOUNT=120.-1

In [36]:
amount=120

In [38]:
address="hpl@simula.cno"

In [41]:
a="duck"

In [54]:
class = 'INF1100, gr 2'

SyntaxError: invalid syntax (1677167685.py, line 1)

In [56]:
x=1
continue_ = x > 0

In [89]:
rev = fox = True

In [90]:
Persian = ['a human language']

In [91]:
true = fox is rev in Persian

Problem 5

In [ ]:
#change cmath to math because we are working with real numbers

In [ ]:
#change math to cmath to return complex numbers

In [ ]:
#change % to .format

In [ ]:
#change second to first, then first to second

Problem 6

In [58]:
Tw=100

In [59]:
Ty=70

In [60]:
M=67

In [61]:
c=3.7

In [62]:
p=1.038

In [63]:
K=.0054

In [64]:
T0=4

In [71]:
a=M**(2/3)

a

In [72]:
a

16.496172972233907

In [73]:
b=p**(1/3)

In [74]:
b

1.0125095258972696

In [75]:
a*c*b

61.79936941837286

In [77]:
l=K*(3.14**2)

In [78]:
n=(4*3.14/3)**(2/3)

In [79]:
l

0.053241840000000006

In [80]:
n

2.5976397603166372

In [81]:
l*n

0.13830312049641677

In [85]:
log(.96(T0-Tw)/(Ty-Tw))

<>:1: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
C:\Users\gfati\AppData\Local\Temp\ipykernel_30080\837172296.py:1: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
  log(.96(T0-Tw)/(Ty-Tw))

NameError: name 'log' is not defined

In [86]:
from math import log

In [89]:
log(.76(T0-Tw)/(Ty-Tw))

<>:1: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
C:\Users\gfati\AppData\Local\Temp\ipykernel_30080\4109836355.py:1: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
  log(.76(T0-Tw)/e*(Ty-Tw))

TypeError: 'float' object is not callable

Problem 7

In [92]:
classroom={"Christian-Andrew Bagby-wright":student, 
"Matthew Chrysler":student, 
"Niyousha Davachi":student, 
"Pauline Dredger":student, 
"Marcos Guillen":student, 
"Lauren Kuffel":student, 
"Shashank Kumbhare":student, 
"Hany Mahdy":student, 
"Sarah Moorman":student, 
"Andrew Myers":student, 
"Joshua Osborne":student, 
"Rebecca Proni":student, 
"Amir Shahmoradi":instructor, 
"Carolina Vedovato":student}

NameError: name 'student' is not defined